@*<div class="modal-header" style="text-align: center; background-color: #D0EDFE; border-radius:5px;">
        <h5>Акт инвентаризации</h5>
    </div>
    <div class="modal-body">
        Акт инвентаризации сформирован и сохранён!
        @ViewBag.message
    </div>
    <div class="modal-footer" style="text-align:center">

        <button type="button" onclick="" class="btn btn-default" data-dismiss="modal" style="min-width:100px">OK</button>
    </div>*@

@model IEnumerable<Inventariz.Models.TankInv>

<center>
    <table>

        <tr>
            <td colspan="3" align="center">
                <button style="height:300%;" type="button" onclick="LetGradTable()" class="btn btn-default">Сохранить</button>
            </td>
            <td>&nbsp;&nbsp;</td>
            <td colspan="3" align="center">
                <button type="button" onclick="CleanTankInv()" class="btn btn-default">Отмена</button>
            </td>

        </tr>
    </table>
</center>

<hr>
<table class="table" id="tabb" border="1">

    <tr>
        <th rowspan="4">№ рез.</th>
        <th rowspan="3">Общий уровень нефти</th>
        <th rowspan="3">Уровень H2O</th>
        <th rowspan="3">Общий объем</th>
        <th rowspan="3">Объем H2O</th>
        <th rowspan="3">Объем нефти</th>
        <th rowspan="3">Средн.темп</th>
        <th rowspan="3">Р нефти</th>
        <th rowspan="3">Масса брутто нефти</th>
        <th colspan="5">Содержание балласта</th>
        <th rowspan="3">Масса нефти нетто</th>
        <th colspan="5">В том числе остатки в резервуарах</th>
        <th rowspan="4"></th>
    </tr>

    <tr>
        <th rowspan="2">Вода</th>
        <th rowspan="2">Соль</th>
        <th rowspan="2">Мех.прим.</th>
        <th colspan="2">Всего</th>
        <th colspan="4">Технологический</th>
        <th>Товарный</th>
    </tr>

    <tr>
        <th></th>
        <th></th>
        <th>Нижний нормат. уровень</th>
        <th>V по нижнему норм.уровню</th>
        <th>Масса брутто</th>
        <th>Масса нетто</th>
        <th>Масса нетто</th>
    </tr>

    <tr>
        <th>мм</th>
        <th>мм</th>
        <th>м3</th>
        <th>м3</th>
        <th>м3</th>
        <th>гр.С</th>
        <th>кг/м3</th>
        <th>т</th>
        <th>%</th>
        <th>%</th>
        <th>%</th>
        <th>%</th>
        <th>т</th>
        <th>т</th>
        <th>мм</th>
        <th>м3</th>
        <th>т</th>
        <th>т</th>
        <th>т</th>
    </tr>

    <!--@{
            int u = 0;
        }

        @foreach (var item in ViewBag.TableInv)
        {
            u++;

            <tr tr class="odd">

                <td>
                    @item.Rezer
                </td>
                <td>
                    @item.Urov
                </td>
                <td>
                    @item.UrovH2O
                </td>
                <td>
                    @item.V
                </td>
                <td>
                    @item.VH2O
                </td>
                <td>
                    @item.VNeft
                </td>
                <td>
                    @item.Temp
                </td>
                <td>
                    @item.P
                </td>
                <td>
                    @item.MassaBrutto
                </td>
                <td>
                    @item.H2O
                </td>
                <td>
                    @Math.Round(item.Salt, 4)
                </td>
                <td>
                    @item.Meh
                </td>
                <td>
                    @Math.Round(item.BalProc, 3)
                </td>
                <td>
                    @Math.Round(item.BalTonn, 3)
                </td>
                <td>
                    @item.MassaNetto
                </td>
                <td>
                    @item.HMim
                </td>
                <td>
                    @item.VMin
                </td>
                <td>
                    @item.MBalMin
                </td>
                <td>
                     @item.MBalMin
                </td>
                <td>
                     @item.MBalMin
                </td>


            </tr>
        }
    </table>-->
    @*-----------------------------------------------------*@

    <!--<table class="table" id="tabb" border="1">-->
    @foreach (int i in ViewBag.typ)
    {
        int kol = 0;
        double VNeftItog1 = 0;
        double PSred1 = 0;
        double MassaBalItog1 = 0;
        double BalProcSred1 = 0;
        double BalTonnItog1 = 0;
        double MassaNettoItog1 = 0;
        double MassaBalMinItog1 = 0;
        double MassaNettoMinItog1 = 0;
        double MassaBruttoOatat1 = 0;

        foreach (var item in Model.Where(h => h.type == i))
        {
            <tr tr class="odd">
                <td>
                    @item.Rezer
                </td>
                <td>
                    @item.Urov
                </td>
                <td>
                    @item.UrovH2O
                </td>
                <td>
                    @item.V
                </td>
                <td>
                    @item.VH2O
                </td>
                <td>
                    @Math.Round(Convert.ToDouble(item.VNeft), 3)
                </td>
                <td>
                    @item.Temp
                </td>
                <td>
                    @item.P
                </td>
                <td>
                    @item.MassaBrutto
                </td>
                <td>
                    @item.H2O
                </td>
                <td>
                    @Math.Round(Convert.ToDouble(item.Salt), 4)
                </td>
                <td>
                    @item.Meh
                </td>
                <td>
                    @Math.Round(Convert.ToDouble(item.BalProc), 1)
                </td>
                <td>
                    @Math.Round(Convert.ToDouble(item.BalTonn), 1)
                </td>
                <td>
                    @item.MassaNetto
                </td>
                <td>
                    @item.HMim
                </td>
                <td>
                    @item.VMin
                </td>
                <td>
                    @item.MBalMin
                </td>
                <td>
                    @item.MNettoMin
                </td>
                <td>
                    
                </td>
                <td>
                </td>

            </tr>
            kol++;
            VNeftItog1 = VNeftItog1 + Convert.ToDouble(item.VNeft);
            PSred1 = Convert.ToDouble(item.P) + PSred1;
            MassaBalItog1 = MassaBalItog1 + Convert.ToDouble(item.MassaBrutto);
            BalProcSred1 = BalProcSred1 + Convert.ToDouble(item.BalProc);
            BalTonnItog1 = BalTonnItog1 + Convert.ToDouble(item.BalTonn);
            MassaNettoItog1 = MassaNettoItog1 + Convert.ToDouble(item.MassaNetto);
            MassaBalMinItog1 = MassaBalMinItog1 + Convert.ToDouble(item.MBalMin);
            MassaNettoMinItog1 = MassaNettoMinItog1 + Convert.ToDouble(item.MNettoMin);
            MassaBruttoOatat1 = MassaBruttoOatat1 + Convert.ToDouble(item.MBalMin);

        }
<tr>
    <td colspan="5" style="background-color:aquamarine;">
        ИТОГО ПО ГРУППЕ:
    </td>
    <td style="background-color:aquamarine;">
        <b>@Math.Round(VNeftItog1, 3)</b>
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
        <b>@(Math.Round((MassaBalItog1 / VNeftItog1 * 1000), 1))</b>
    </td>
    <td style="background-color:aquamarine;">
        <b>@MassaBalItog1</b>
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
        <b>@(Math.Round((MassaBalItog1 - MassaNettoItog1) * 100 / MassaBalItog1, 4))</b>
    </td>
    <td style="background-color:aquamarine;">
        <b>@Math.Round(BalTonnItog1, 1)</b>
    </td>
    <td style="background-color:aquamarine;">
        <b>@MassaNettoItog1</b>
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
        <b>@MassaBruttoOatat1</b>
    <td style="background-color:aquamarine;">
        <b>@MassaNettoMinItog1</b>
    </td>
    <td style="background-color:aquamarine;">
    </td>
    <td style="background-color:aquamarine;">
    </td>
</tr>
    }
<tr>
    <td colspan="5" style="background-color:deepskyblue;">
        ИТОГО:
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.VNeftItog2</b>
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@(Math.Round((ViewBag.MassaBalItog2 / ViewBag.VNeftItog2 * 1000), 1))</b>
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.MassaBalItog2</b>
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@(Math.Round((ViewBag.MassaBalItog2 - ViewBag.MassaNettoItog2) * 100 / ViewBag.MassaBalItog2, 4))</b>
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.BalTonnItog2</b>
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.MassaNettoItog2</b>
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.MassaBruttoOstat2</b>
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@ViewBag.MassaNettoMinItog2</b>
    </td>
    <td style="background-color: deepskyblue; ">
        <b>@(ViewBag.MassaNettoItog2 - ViewBag.MassaNettoMinItog2)</b>
    </td>
    <td style="background-color: deepskyblue; ">
    </td>
</tr>
</table>

<hr>




